<div class="verticle-thumb-slider">
  {% if product.images != null %}
    <div
      class="carousel product__image-slider"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- for media in product.media -%}
        <div class="carousel-cell">
          {% if media.media_type == 'video' %}
            {{
              media
              | media_tag:
                image_size: '720x',
                autoplay: true,
                loop: loop,
                controls: true,
                preload: 'none',
                autoplay: true,
                height: '100%',
                width: '100%'
            }}
          {% else %}
            <img
              data-flickity-lazyload-srcset="
                {{ media | img_url: '1440x' }} 1440w,
                {{ media | img_url: '1080x' }} 1080w,
                {{ media | img_url: '720x' }} 767w,
                {{ media | img_url: '480x' }} 480w
              "
              sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
              data-flickity-lazyload-src="{{ media | img_url: 'master' }}"
              alt="{{ media.alt | escape }}"
              border="0"
              data-media-id="{{ media.id }}"
              data-zoom-image="{{ media | img_url: 'master'}}"
            >
          {% endif %}
        </div>
      {%- endfor -%}
      <!-- - Coded by bluish.io - -->
    </div>

    {% if product.images.size > 1 %}
      <div class="carousel product__image-thumbnail">
        {%- for media in product.media -%}
          <div class="carousel-cell">
            <img
              srcset="
                {{ media | img_url: '1440x' }} 1440w,
                {{ media | img_url: '1080x' }} 1080w,
                {{ media | img_url: '720x' }} 767w,
                {{ media | img_url: '480x' }} 480w
              "
              sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
              src="{{ media | img_url: 'master' }}"
              alt="{{ media.alt | escape }}"
              class="thumbnail-image"
              border="0"
              data-media-id="{{ media_id }}"
            >
          </div>
        {%- endfor -%}
        <!-- - Coded by ramzanmalik.in - -->
      </div>
    {% endif %}

  {% else %}
    {{ 'product-1' | placeholder_svg_tag }}
  {% endif %}
</div>

<div class="product-variant-wrapper">
  <div class="product-size-container">
    <div class="quick-ad">
      <span>OUICK ADD +</span>
    </div>

    <div class="product-size-selector">
      {% for option in card_product.options_with_values %}
        {% if option.name == 'Size' %}
          <div class="size-selector-wrapper">
            {% for value in option.values %}
              <div class="size-selector">
                <input
                  class="single-size-selector"
                  type="radio"
                  id=""
                  name="{{ option.name }}"
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}
                    checked="true"
                  {% endif %}
                >
                <label>{{ value }}</label>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!-- ------------- product-size-selector-ende ------  ---- -- -->

  <!-- ------------- product-color-selector------  ---- -- -->
  <div class="product-color-selector">
    {% for option in card_product.options_with_values %}
      {% if option.name == 'Color' %}
        <div class="product-variant-images ">
          {% for value in option.values %}
            {% for image in card_product.images %}
              {% if image.alt == value %}
                <div class="variant-images">
                  <img class="radius-5" src="{{ image.src | img_url:'60x60'}}">
                </div>
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
