<div class="collection">
  {% for product in collections['earings'].products limit:4 %}
    <div class="product">
      <a href="{{ product.url }}" title="{{ product.title }}">
        <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.title }}">
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
      </a>
    </div>
  {% endfor %}
</div>

<div class="view-all">
  <a href="/collections/earings" class="btn">View All Products</a>
</div>
