<div class="contact-touch-container">
  <div class="conatct-touch-content">
            {% if section.settings.sub-title != blank %}
          <div class="dcontactTitleHook">{{ section.settings.sub-title }}</div>
        {% endif %}
        {% if section.settings.title != blank %}
          <h1 class="faqTitle _TITLE">{{ section.settings.title }}</h1>
         {% endif %}
         <div class="dcontactTop">
           {% for block in section.blocks %}
             <div class="dcontactTopOne">
               <div class="dcontactTopOneWrap">
                 <div class="dcontactTopOneWrapTitle">
                    {{ block.settings.icon-with-text }}
                     <p>{{ block.settings.title }}</p> 
                 </div>
             <div class="dcontactTopOneWrapValue">
               {{ block.settings.text }}
             </div>
               </div>
             </div>
             {% endfor %}
         </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Keep Touch",
    "class":"contact-touch-section",
    "settings": [
        {
          "type":"textarea",
          "label":"Sub Heading",
          "id":"sub-title"
      },
       {
          "type":"text",
          "label":"Heading",
          "id":"title",
           "default":"Title"
       }
    ],
    "blocks":[
      {
      "type":"text",
        "name":"Content",
        "settings":[
          {
            "type":"textarea",
            "label":"Icon With Text",
            "id":"icon-with-text"
            
          },
            {
          "type":"text",
          "label":"Heading",
          "id":"title",
           "default":"Title"
       },
           {
            "type":"textarea",
            "label":"Bottom Content",
            "id":"text"
            
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Contact Keep Touch"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}