<style>
  .faqItemsOneBottom{
    display:none;
  }
  .faqItemsOneBottom.active{
    display:block
}
</style>
<div class="dcontactBottomWrap">
<div class="dcontactBottomWrapLeft">
      <div class="contact-contet">
   <div class="conatct-heading">
    <h2>{{ section.settings.title}}</h2> 
   </div>
    <div class="contact-dec">
    {{ section.settings.dec}}
   </div>
    </div>
  <div class="contact-snippet">
    {% render 'contact-form-snippet' %}
  </div>
</div>
<div class="dcontactBottomWrapRight">
  <div class="faq-content-wrapp">
    <div class="faq-contet">
   <div class="faq-heading">
    <h2>{{ section.settings.faq-title}}</h2> 
   </div>
    <div class="faq-dec">
    {{ section.settings.faq-dec}}
   </div>
    </div>
  <div class="faq-blocks">
     {% for block in section.blocks %}
       <div class="faqItemsOne">
        <div class="faqItemsOneTop">{{ block.settings.title }}</div>
         <div class="faqItemsOneBottom">
           {{ block.settings.ans }}
          </div>
       </div>
       {% endfor %}
   </div>
  </div>
</div>
</div>

<script> 
  
  $('.faqItemsOneTop').click(function(){
    if($(this).parent().hasClass('active')){
      $(this).parent().removeClass('active');
      $(this).parent().find('.faqItemsOneBottom').slideUp(300);
      return
    }
    $(this).parent().addClass('active');
    $(this).parent().find('.faqItemsOneBottom').slideDown(300);
  })
  
  
 var faq = document.querySelectorAll('.faq-qu-ans');
function openFaq(ac) {
  var pr = ac.closest(".faq-qu-ans");
  var classlist = pr.classList;

  if (classlist.contains('active')) {
    classlist.remove('active');
  } else {
    faq.forEach((item) => {
      item.classList.remove('active');
    });
    classlist.add('active');
  }
}


</script>


{% schema %}
  {
    "name": "Contact-Faq-section",
    "class":"Contact-Faq-section",
    "settings": [

      {
        "type":"color_background",
        "label":"Background Color",
        "id":"bg_color"
      },
      {
        "type":"header",
        "content":"Contact Heading"
      },
       {
        "type":"text",
        "label":"Heading",
        "id":"title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"dec"
      },
       {
        "type":"header",
        "content":"Faq Heading"
      },
       {
        "type":"text",
        "label":"Heading",
        "id":"faq-title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"faq-dec"
      }
    ],
   "blocks":[
		{
          "type":"header",
     "name":"content",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
		  "default": "Is simply dummy text"
        },
        {
          "type": "richtext",
          "id": "ans",
          "label": "Answer",
		  "default": "<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>"
        }
      ]
    }
	],
    "presets":[
      {"name":"Contact-Faq-section"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}