<style>
  .faqItemsOneBottom{
    display:none;
  }
  .faqItemsOneBottom.active{
    display:block
    
}
  .faqItemsOneTopPl{
  width: 14px;
  height: 14px;
  display:block;
  position:absolute;
  left: 24px;
  top: calc(50% - 7px);
}
.faqItemsOneTopPl:before,
.faqItemsOneTopPl:after{
  position:absolute;
  content:'';
  width: 14px;
  height: 2px;
  background: #000000;
  border-radius: 6px;
  top: 6px;
  left: 0;
  transition: all ease .3s;
}
.faqItemsOneTopPl:after{
  transform: rotate(90deg)
}
.faqItemsOne.active .faqItemsOneTopPl:after{
  transform: rotate(0deg)
}
.faqItemsOneTop{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 0 24px 0 54px;
  position:relative;
  cursor:pointer;
}
  .faqItemsOneTopPl{
  width: 14px;
  height: 14px;
  display:block;
  position:absolute;
  left: 24px;
  top: calc(50% - 7px);
}
  .faqItemsOne.active{
  background: linear-gradient(90deg, #FAFFDF 0%, #DDF9E8 100%);
}
  .faqItemsOne{
  padding: 16px 0;
  border: 1px solid #E6E6E6;
  border-radius: 16px;
  box-sizing: border-box;
  margin-top: 8px;
}
  .faqItemsOneBottom{
  padding-top: 16px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6D6D6D;
  padding: 16px 24px 0 24px;

</style>
<div class="page-width">
<div class="dcontactBottomWrap">
  {% comment %}
<div class="dcontactBottomWrapLeft">
      <div class="contact-contet">
   <div class="conatct-heading">
    <h2>{{ section.settings.title}}</h2> 
   </div>
    <div class="contact-dec">
    {{ section.settings.dec}}
   </div>
    </div>
  <div class="contact-snippet">
    {% render 'contact-form-snippet' %}
  </div>
</div>
    {% endcomment %}
<div class="dcontactBottomWrapRight">
  <div class="faq-content-wrapp">
    <div class="faq-contet">
   <div class="faq-heading">
    <h2>{{ section.settings.faq-title}}</h2> 
   </div>
    <div class="faq-dec">
    {{ section.settings.faq-dec}}
   </div>
    </div>
  <div class="faq-blocks">
     {% for block in section.blocks %}
       <div class="faqItemsOne">
        <div class="faqItemsOneTop">
          <span class="faqItemsOneTopPl"></span>
       {{ block.settings.title }}</div>
         <div class="faqItemsOneBottom">
           {{ block.settings.ans }}
          </div>
       </div>
       {% endfor %}
   </div>
  </div>
</div>
</div>
</div>
<script> 
  
  $('.faqItemsOneTop').click(function(){
    if($(this).parent().hasClass('active')){
      $(this).parent().removeClass('active');
      $(this).parent().find('.faqItemsOneBottom').slideUp(300);
      return
    }
    $(this).parent().addClass('active');
    $(this).parent().find('.faqItemsOneBottom').slideDown(300);
  })



</script>


{% schema %}
  {
    "name": "Contact-Faq-section",
    "class":"Contact-Faq-section",
    "settings": [

      {
        "type":"color_background",
        "label":"Background Color",
        "id":"bg_color"
      },
      {
        "type":"header",
        "content":"Contact Heading"
      },
       {
        "type":"text",
        "label":"Heading",
        "id":"title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"dec"
      },
       {
        "type":"header",
        "content":"Faq Heading"
      },
       {
        "type":"text",
        "label":"Heading",
        "id":"faq-title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"faq-dec"
      }
    ],
   "blocks":[
		{
          "type":"header",
     "name":"content",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
		  "default": "Is simply dummy text"
        },
        {
          "type": "richtext",
          "id": "ans",
          "label": "Answer",
		  "default": "<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>"
        }
      ]
    }
	],
    "presets":[
      {"name":"Contact-Faq-section"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}