{% style %}
  .section-{{section.id}}-padding{
    padding-top:{{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom:{{ section.settings.padding_bottom | times:0.75 | round: 0 }}px;
  }
   @media screen and(min-width:750px){
     padding-top:{{ section.settings.padding_top}}px;
     padding-bottom:{{ section.settings.padding_bottom}}px;
   }
{% endstyle %}
 <div class="section-{{ section.id }}-padding">
   <div class="{% if section.settings.width == 'full-width' %}full-width{% else %}page-width{% endif %}">
     <div class="main-mission-wrapper">
       <div class="main-mainmission-container">
         {% if section.settings.sub-title != blank %}
          <div class="_PRETITLE">{{ section.settings.sub-title }}</div>
        {% endif %}
         {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
         <div class="middel-mainmission-content">
           {% if section.settings.left-richtext != blank %}
           <div class="mainmissionMainLeft"> <span>{{ section.settings.left-richtext }}</span></div>
             {% endif %}
           {% if section.settings.gif_image != blank %}
             <div class="mainmissionMainMiddle" ><img  src="{{ section.settings.gif_image | img_url:'' }}"></div>
        {% endif %}
               {% if section.settings.right-richtext != blank %}
           <div class="mainmissionMainLeft"> <span>{{ section.settings.right-richtext }}</span></div>
             {% endif %}
         </div>
       </div>
     <div class="main-mission-bottom">
       {% for block in section.blocks %}
         <div class="mainmissionMainItem">
          {% if block.settings.logo_image != blank %}
             <div class="mainmissionMainItem-image"><img  src="{{ block.settings.logo_image  | img_url:'' }}"></div>
            {% endif %}
           {% if block.settings.title != blank %}
             <div class="mainmissionMainItem-tite">{{ block.settings.title }}</div>
            {% endif %}
         </div>
       {% endfor %}
     </div>
     </div>
   </div>
 </div>
{% schema %}
  {
    "name": "Main Mission Section",
    "settings": [
          {
      "type":"select",
      "label":"Page Width",
      "id":"width",
       "options":[
         {
           "value":"full-width",
           "label":"Full Width"
         },
         {
           "value":"page-width",
           "label":"page-Width"
         }
       ]
    },
      {
      "type":"header",
      "content":"Section Padding"
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
      {
      "type":"header",
      "content":"Top Content"
    },
      {
          "type":"text",
          "label":"Sub Heading",
          "id":"sub_title",
           "default":"Sub-Title"
           
       },
         {
          "type":"text",
          "label":"Heading",
          "id":"title",
           "default":"Title"
       },
       {
      "type":"header",
      "content":"Middel Content"
    },
      {
          "type":"richtext",
          "label":"left Richtext",
          "id":"left-richtext"
       },
      {
        "type": "image_picker",
        "id": "gif_image",
        "label": "GIF Image"
       },
       {
          "type":"richtext",
          "label":"Right Richtext",
          "id":"right-richtext"
       },
       {
          "type":"richtext",
          "label":"Bottom Richtext",
          "id":"bottom-richtext"
       }
    ],
    "blocks":[
      {
        "type":"Images",
        "name":"Image",
       "settings":[
          {
        "type": "textarea",
        "id": "logo_image",
        "label": "Icon Image"
       },
            {
          "type":"text",
          "label":"Tite",
          "id":"title",
          "default":"Iocn Title"
       }
       ]
      }
    ],
    
    "presets":[
      {
        "name":"Main Mission Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}