{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="daobubanner-wrapp" style="background:{{ section.settings.bg-color }};">
<div class="section-{{section.id }}-padding {% if section.settings.width == 'full-width' %}full-width{% else %}page-width{% endif %}">
  <div class="daobubanner">
   {% if section.settings.left-image != blank %}
    <div class="left-daobubanner-image">
      <img  src="{{ section.settings.left-image | img_url:'master' }}">
    </div>
     {% endif %}
   
      <div class="dcontainer-middel">
        {% if section.settings.sub-title != blank %}
          <h4 class="">{{ section.settings.sub-title }}</h4>
        {% endif %}
          {% if section.settings.title != blank %}
          <h1 class="daobubannerTitle _TITLE">{{ section.settings.title }}</h1>
         {% endif %}
        {% if section.settings.richtext != blank %}
          {{ section.settings.richtext }}
        {% endif %}
         <div class="daobubannerBounce">
         {% if section.settings.arrow-svg != blank %}
          <div class="star-svg">
          {{ section.settings.arrow-svg }}
          </div>
        {% endif %}
        {% if section.settings.oval-svg != blank %}
          <div class="main-oval-svg">
          {{ section.settings.oval-svg }}
          </div>
        {% endif %}
         </div>
        
      </div>
      
   {% if section.settings.right-image != blank %}
    <div class="left-daobubanner-image" >
      <img  src="{{ section.settings.right-image | img_url:'master' }}">
    </div>
{% endif %}
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Our Story Banner",
    "class":"daobubanner-section",
    "settings": [
         {
        "type": "color_background",
        "id": "bg-coloe",
        "label": "Background Color",
        "default": "linear-gradient(90deg,#FAFFDF 0%,#DDF9E8 100%)"
      },
             {
      "type":"select",
      "label":"Page Width",
      "id":"width",
       "options":[
         {
           "value":"full-width",
           "label":"Full Width"
         },
         {
           "value":"page-width",
           "label":"page-Width"
         }
       ]
    },
      {
      "type":"header",
      "content":"Section Padding"
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
      {
      "type":"header",
      "content":"Left Content"
    },
         {
      "type": "image_picker",
      "id": "left-image",
      "label": "Left Image"
    },
       {
      "type":"header",
      "content":"Middel Content"
    },
       {
          "type":"textarea",
          "label":"Sub Heading",
          "id":"sub_title"
         
           
       },
       {
          "type":"text",
          "label":"Heading",
          "id":"title",
           "default":"Title"
       },
       
      {
          "type":"textarea",
          "label":"richtext",
          "id":"richtext",
          "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>"
       },
        {
      "type": "textarea",
      "id": "arrow-svg",
      "label": "Arrow Svg code"
    },
          {
      "type": "textarea",
      "id": "oval-svg",
      "label": "Oval Svg code"
    },
        {
      "type":"header",
      "content":"Right Content"
     },
        {
      "type": "image_picker",
      "id": "right-image",
      "label": "Left Image"
    }
      
    ],
    "presets":[
      {
        "name":"Our Story Banner"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}