{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  ._PRETITLE{
  text-align:center;
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Blessing and Struggle Slantbold';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #000000;
}
@media(max-width: 996px){
  ._PRETITLE{
    font-size: 20px;
    line-height: 34px;
  }
}
._TITLE{
  margin: 0;
  text-align:center;
  font-family: 'Scania Sans CY Headline';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: #000000;
  position:relative;
  margin-bottom: 15px; 
}
._TITLE:before{
  position:absolute;
  width: 142px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='142' height='7' viewBox='0 0 142 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M141.944 2.22633C141.365 1.4011 136.386 1.05364 121.423 0.764088C107.462 0.489012 91.2083 -0.307264 62.8109 0.127066C41.1045 0.460053 14.0768 1.792 14.0768 2.53036C14.0768 3.06604 15.1305 3.08051 25.1934 2.60275C34.4924 2.16842 39.2605 2.06708 45.0822 1.95125C21.7425 3.08051 16.7638 3.81888 4.32999 4.52828C-3.46746 4.97709 1.08983 6.2656 3.93485 6.1353C3.96119 6.1353 40.2351 4.51381 43.6597 4.60067C43.9758 4.61515 40.5249 4.87575 35.9676 5.17978C23.2441 6.04844 25.694 7.49606 35.23 6.83009C67.3155 4.58605 97.5043 3.89112 120.765 4.86112C128.115 5.16515 128.931 5.16515 128.931 4.78873C128.931 4.12276 126.929 3.61619 123.794 3.51485C118.895 3.34111 100.033 2.84873 91.4981 2.70395C90.8395 2.68947 91.1557 2.41454 91.7352 2.38558C95.2124 2.19737 122.82 2.34201 133.673 2.54469C141.655 2.68947 142.234 2.67514 141.944 2.22633Z' fill='url(%23paint0_linear_217_3394)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_217_3394' x1='7.14957e-07' y1='3.50002' x2='142' y2='3.50003' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E7FE5F'/%3E%3Cstop offset='1' stop-color='%2353E28D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  content:'';
  background-size: cover;
  top: calc(100% + 8px);
  left: calc(50% - 71px);
}
  

.reviews-static-content {
    box-sizing: border-box;
    max-width: 400px;
    width: 23.8%;
    padding: 25px 32px 32px 32px;
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 3px 0 #08080E;
    font-family: 'Helvetica Neue';
    text-align: center;
    background: #FFFFFF;
}  
  .reviews-static__buttons{
    margin-top: 50px;
    text-align:center;
    display: flex;
    justify-content: center;
}

.reviews-static__buttons .swiper-button-prev,
.reviews-static__buttons .swiper-button-next {
  position: static;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  margin-top: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #fff;
  transition: .2s;
}

.reviews-static__buttons .swiper-button-prev::after,
.reviews-static__buttons .swiper-button-next::after {
  display: none;
}

.reviews-static__buttons .swiper-button-next {
  margin-left: 9px;
  transform: rotate(180deg);
}



.swiper-button-prev svg {
  margin-top: 19px;
}

.swiper-button-next svg {
   margin-top: 16px;
}
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<script src="{{ 'swiper.js'|asset_url }}"></script>
<div class="reviews" style="background:{{ section.settings.Bg-color }}">
<div class="reviews-static-wrapper section-{{section.id }}-padding {% if section.settings.width == 'full-width' %}full-width{% else %}page-width{% endif %}">

    <div class="reviews-static-container">
      <div class="reviews-static__header">
         {% if section.settings.sub-title != blank %}
           <div class="reviews-static__label _PRETITLE"> {{ section.settings.sub-title }}</div>
        {% endif %}
         {% if section.settings.title != blank %}
           <div class="_TITLE">
          <h2>{{ section.settings.title }}</h2>
           </div>
        {% endif %}
      </div>
      <div class="reviews-static-inner-wrapper">
      <div class="reviews-static-slider swiper">
      <div class="swiper-wrapper">
      {% for block in section.blocks %}
          <div class="reviews-static-content swiper-slide">
            {% if block.settings.star_image != blank %}
            <div class="star_image">
               {{ block.settings.star_image }}
            </div>
           {% endif %}
        <div class="reviews-static-text" >
         {% if block.settings.sub-title != blank %}
            <h3>{{ block.settings.sub-title}}</h3>
          {% endif %}
           {% if block.settings.dec != blank %}
            {{ block.settings.dec }}
          {% endif %}
         {% if block.settings.review-name != blank %}
            {{ block.settings.review-name  }}
          {% endif %}
         </div> 
          </div>
      {% endfor %}
        </div>
      <div class="reviews-static__buttons">
        <div class="swiper-button-prev">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.00002 0.333252L8.17919 1.51242L3.52502 6.16658H13.6667V7.83325H3.52502L8.17919 12.4874L7.00002 13.6666L0.333354 6.99992L7.00002 0.333252Z" fill="black"></path>
      </svg>
        </div>
         <div class="swiper-button-next">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.00002 0.333252L8.17919 1.51242L3.52502 6.16658H13.6667V7.83325H3.52502L8.17919 12.4874L7.00002 13.6666L0.333354 6.99992L7.00002 0.333252Z" fill="black"></path>
          </svg>
         </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
 
// JavaScript code
const productSlider = document.querySelectorAll(".reviews-static-slider");
productSlider.forEach((item) => {
  const swiperWrapper = item.querySelector(".swiper-wrapper");
  const slides = item.querySelectorAll(".swiper-slide");
 slides.forEach((slide) => {
    const cloneSlide = slide.cloneNode(true);
    swiperWrapper.appendChild(cloneSlide);
  });

  var ProdcutSlides = new Swiper(item, {
    slidesPerView: 1,
     loop: true,
    initialSlide: 0,
    spaceBetween: 30,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
      1366: {
        slidesPerView: 4,
      },
    },
   
  });
});

</script>
{% schema %}
  {
  "name": "Reviews Static Slider",
  "class":"reviews-static-section",
  "settings":[
   {
     "type":"color_background",
     "label":"Background Color",
     "id":"Bg-color"
   },
      {
      "type": "select",
       "label":"Width",
      "id":"width",
        "options":[
          {
            "value":"full-width",
            "label":"Full Width"
          },
          {
            "value":"page-width",
            "label":"Page Width"
          }
        ]
    },
         {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
   {
        "type":"text",
        "label":"Sub Headeing",
        "id":"sub-title",
        "default":"Sub Title"
     },
    {
        "type":"text",
        "label":"Headeing",
        "id":"title",
        "default":"Title"
     }
    
    

  ],
  "blocks":[
    {
      "type":"text",
       "name":" Reviews Content",
      "settings":[
         
         {
          "type":"textarea",
          "label":"Star Image",
          "id":"star_image"
        },
      {
        "type":"text",
        "label":"Sub Heading",
        "id":"sub-title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"dec",
        "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>"
      },
        {
        "type":"text",
        "label":"Review Name",
        "id":"review-name"
      }
        
      ]
    }
  ],
  "presets":[
    {
      "name":"Reviews Static Slider"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}