{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.reviews-static-content {
    box-sizing: border-box;
    max-width: 400px;
    width: 23.8%;
    padding: 25px 32px 32px 32px;
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 3px 0 #08080E;
    font-family: 'Helvetica Neue';
    text-align: center;
    background: #FFFFFF;
}  
  .reviews-static__buttons{
    margin-top: 50px;
    text-align:center;
    display: flex;
    justify-content: center;
}

.reviews-static__buttons .swiper-button-prev,
.reviews-static__buttons .swiper-button-next {
  position: static;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  margin-top: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #fff;
  transition: .2s;
}

.reviews-static__buttons .swiper-button-prev::after,
.reviews-static__buttons .swiper-button-next::after {
  display: none;
}

.reviews-static__buttons .swiper-button-next {
  margin-left: 9px;
  transform: rotate(180deg);
}



.swiper-button-prev svg {
  margin-top: 19px;
}

.swiper-button-next svg {
   margin-top: 16px;
}
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<script src="{{ 'swiper.js'|asset_url }}"></script>
<div class="reviews" style="background:{{ section.settings.Bg-color }}">
<div class="reviews-static-wrapper section-{{section.id }}-padding {% if section.settings.width == 'full-width' %}full-width{% else %}page-width{% endif %}">

    <div class="reviews-static-container">
      <div class="reviews-static__header">
         {% if section.settings.sub-title != blank %}
           <div class="reviews-static__label _PRETITLE"> {{ section.settings.sub-title }}</div>
        {% endif %}
         {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
      </div>
      <div class="reviews-static-inner-wrapper">
      <div class="reviews-static-slider swiper">
      <div class="swiper-wrapper">
      {% for block in section.blocks %}
          <div class="reviews-static-content swiper-slide">
            {% if block.settings.star_image != blank %}
            <div class="star_image">
               {{ block.settings.star_image }}
            </div>
           {% endif %}
        <div class="reviews-static-text" >
         {% if block.settings.sub-title != blank %}
            <h3>{{ block.settings.sub-title}}</h3>
          {% endif %}
           {% if block.settings.dec != blank %}
            {{ block.settings.dec }}
          {% endif %}
         {% if block.settings.review-name != blank %}
            {{ block.settings.review-name  }}
          {% endif %}
         </div> 
          </div>
      {% endfor %}
        </div>
      <div class="reviews-static__buttons">
        <div class="swiper-button-prev">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.00002 0.333252L8.17919 1.51242L3.52502 6.16658H13.6667V7.83325H3.52502L8.17919 12.4874L7.00002 13.6666L0.333354 6.99992L7.00002 0.333252Z" fill="black"></path>
      </svg>
        </div>
         <div class="swiper-button-next">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.00002 0.333252L8.17919 1.51242L3.52502 6.16658H13.6667V7.83325H3.52502L8.17919 12.4874L7.00002 13.6666L0.333354 6.99992L7.00002 0.333252Z" fill="black"></path>
          </svg>
         </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
 
const productSlider = document.querySelectorAll(".reviews-static-slider");
productSlider.forEach((item)=>{
  var ProdcutSlides = new Swiper(item,{
     loop:true,
      slidesPerView:1,
     initialSlide: 0,
        spaceBetween: 30,
     navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
     },

      breakpoints: {
    640: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
    1366: {
      slidesPerView: 4,
      
    },
    },
       loopedSlides: productSlider.length,
  });
});
</script>
{% schema %}
  {
  "name": "Reviews Static Slider",
  "class":"reviews-static-section",
  "settings":[
   {
     "type":"color_background",
     "label":"Background Color",
     "id":"Bg-color"
   },
      {
      "type": "select",
       "label":"Width",
      "id":"width",
        "options":[
          {
            "value":"full-width",
            "label":"Full Width"
          },
          {
            "value":"page-width",
            "label":"Page Width"
          }
        ]
    },
         {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
   {
        "type":"text",
        "label":"Sub Headeing",
        "id":"sub-title",
        "default":"Sub Title"
     },
    {
        "type":"text",
        "label":"Headeing",
        "id":"title",
        "default":"Title"
     }
    
    

  ],
  "blocks":[
    {
      "type":"text",
       "name":" Reviews Content",
      "settings":[
         
         {
          "type":"textarea",
          "label":"Star Image",
          "id":"star_image"
        },
      {
        "type":"text",
        "label":"Sub Heading",
        "id":"sub-title"
      },
      {
        "type":"richtext",
        "label":"Description",
        "id":"dec",
        "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>"
      },
        {
        "type":"text",
        "label":"Review Name",
        "id":"review-name"
      }
        
      ]
    }
  ],
  "presets":[
    {
      "name":"Reviews Static Slider"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}