{% style %}
  .section-{{section.id}}-padding{
    padding-top:{{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom:{{ section.settings.padding_bottom | times:0.75 | round: 0 }}px;
  }
   @media screen and(min-width:750px){
     padding-top:{{ section.settings.padding_top}}px;
     padding-bottom:{{ section.settings.padding_bottom}}px;
   }
{% endstyle %}




{% schema %}
  {
    "name": "Second Section Pure Shot",
    "class":"section-pure-shot",
    "settings": [
        {
      "type":"select",
      "label":"Page Width",
      "id":"width",
       "options":[
         {
           "value":"full-width",
           "label":"Full Width"
         },
         {
           "value":"page-width",
           "label":"page-Width"
         }
       ]
    },
      {
      "type":"header",
      "content":"Section Padding"
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
       {
      "type":"range",
      "label":"Padding Top",
      "id":"padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default":36
    },
      {
      "type":"header",
      "content":"Left Content"
    },
         {
      "type": "textarea",
      "id": "star-svg",
      "label": "Star Svg code"
    },
       {
          "type":"text",
          "label":"Heading",
          "id":"title",
           "default":"Title"
       },
         {
          "type":"text",
          "label":"Sub Heading",
          "id":"sub_title",
           "default":"Sub-Title"
           
       },
      {
          "type":"textarea",
          "label":"richtext",
          "id":"richtext",
          "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>"
       },
       {
      "type":"header",
      "content":"Middel Content"
     },
        {
        "type": "image_picker",
        "id": "gif_image",
        "label": "GIF Image"
       },
       {
      "type":"header",
      "content":"Right Content"
     },
       
      {
          "type":"textarea",
          "label":"Right Richtext",
          "id":"right-richtext"
       },
     {
      "type": "textarea",
      "id": "right-svg",
      "label": "RIght Text Svg code"
    }
      
      
    ],
    "presets":[
      {
        "name":"Second Section Pure Shot"
      }
    ]
  }
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}