{% style %}
      .section-{{section.id}}-padding{
        padding-top:{{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom:{{ section.settings.padding_bottom | times:0.75 | round: 0 }}px;
      }
       @media screen and(min-width:750px){
         padding-top:{{ section.settings.padding_top}}px;
         padding-bottom:{{ section.settings.padding_bottom}}px;
       }
      .shop-lock-slider{
        display:flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      }
      .shopLock-product-wrapper {
        width: 30%;
    }
    .shop-the-lock-wrapper {
      overflow: hidden;
      border: 1px solid;
      border-radius: 47px;
      padding: 40px;

  }
{% endstyle %}
<div class="section-{{ section.id }}-padding">
  <div class="{% if section.settings.width == 'full-width' %}full-width{% else %}page-width {% endif %}">
    <div class="shop-the-lock-wrapper">
      <div class="shop-lock-header">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings['sub-title'] != blank %}
          <h3>{{ section.settings['sub-title'] }}</h3>
        {% endif %}
      </div>
      <div class="shop-lock-slider">
        {% for block in section.blocks %}
          <div class="shop-lock-slides-content">
            <div class="shop-lock-images">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url:'615x768' }}">
              {% endif %}
            </div>
            <div class="shopLock-product-wrapper">
              {% if block.settings.product_list1 != blank
                or block.settings.product_list2 != blank
                or block.settings.product_list3 != blank
                or block.settings.product_list4 != blank
              %}
                <div class="shopock-product-container swiper">
                  <div class="swiper-wrapper">
                    {% if block.settings.product_list1 != blank %}
                      <div class="shopock-product swiper-slide">
                        {% assign product = all_products[block.settings.product_list1] %}
                        <div class="featured-product">
                          {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_rating: section.settings.show_rating,
                            show_quick_add: section.settings.enable_quick_add,
                            section_id: section.id
                          %}
                        </div>
                      </div>
                    {% endif %}

                    {% if block.settings.product_list2 != blank %}
                      <div class="shopock-product swiper-slide">
                        {% assign product = all_products[block.settings.product_list2] %}
                        <div class="featured-product">
                          {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_rating: section.settings.show_rating,
                            show_quick_add: section.settings.enable_quick_add,
                            section_id: section.id
                          %}
                        </div>
                      </div>
                    {% endif %}

                    {% if block.settings.product_list3 != blank %}
                      <div class="shopock-product swiper-slide">
                        {% assign product = all_products[block.settings.product_list3] %}
                        <div class="featured-product">
                          {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_rating: section.settings.show_rating,
                            show_quick_add: section.settings.enable_quick_add,
                            section_id: section.id
                          %}
                        </div>
                      </div>
                    {% endif %}

                    {% if block.settings.product_list4 != blank %}
                      <div class="shopock-product swiper-slide">
                        {% assign product = all_products[block.settings.product_list4] %}
                        <div class="featured-product">
                          {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_rating: section.settings.show_rating,
                            show_quick_add: section.settings.enable_quick_add,
                            section_id: section.id
                          %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  var shopLockSlide = new Swiper('.shopock-product-container', {
        loop: true,
        slidesPerView:1,
    });
</script>

{% schema %}
{
  "name": "Shop The Lock",
  "settings": [

    {
    "type":"color",
    "label":"Background Color",
    "id":"bg-color"
  },
  {
    "type":"select",
    "label":"Page Width",
    "id":"width",
     "options":[
       {
         "value":"full-width",
         "label":"Full Width"
       },
       {
         "value":"page-width",
         "label":"Page Width"
       }
     ]
  },

      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
    {
        "type": "text",
        "id": "sub-title",
        "label": "Sub-Heading"
      },
  {
    "type":"range",
    "label":"Padding Top",
    "id":"padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "default":36
  },
     {
    "type":"range",
    "label":"Padding Top",
    "id":"padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "default":36
  },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    }
  ],
  "blocks":[
    {
      "type":"block-1",
      "name":"block-1",
     "settings":[
         {
           "type":"image_picker",
           "label":"Image",
           "id":"image"
         },
        {
          "type":"header",
          "content":"Products"
        },
        {
           "type": "product",
            "id": "product_list1",
            "label": "Products"
       },
       {
          "type": "range",
          "label": "Top Possition",
          "id": "top_position_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "label": "Left Position",
          "id": "left_position_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
           "type": "product",
            "id": "product_list2",
            "label": "Products"
       },
       {
          "type": "range",
          "label": "Top Possition",
          "id": "top_position_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 80
        },
        {
          "type": "range",
          "label": "Left Position",
          "id": "left_position_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 40
        },
        {
           "type": "product",
            "id": "product_list3",
            "label": "Products"
       },
       {
          "type": "range",
          "label": "Top Possition",
          "id": "top_position_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 30
        },
        {
          "type": "range",
          "label": "Left Position",
          "id": "left_position_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
           "type": "product",
            "id": "product_list4",
            "label": "Products"
       },
       {
          "type": "range",
          "label": "Top Possition",
          "id": "top_position_4",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "label": "Left Position",
          "id": "left_position_4",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        }
     ]
   }
  ],
  "presets":[
    {
      "name":"Shop The Lock"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
