{% style %}
  .section-{{section.id}}-padding{
    padding-top:{{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom:{{ section.settings.padding_bottom | times:0.75 | round: 0 }}px;
  }
   @media screen and(min-width:750px){
     padding-top:{{ section.settings.padding_top}}px;
     padding-bottom:{{ section.settings.padding_bottom}}px;
   }
{% endstyle %}
 <div class="section-{{ section.id }}-padding">
   <div class="{% if section.settings.width == 'full-width' %}full-width {% elsif section.settings.width == 'wrapper-width' %}page-width{% else %}narrow-width {% endif %}">
   
   </div>
 </div>
{% schema %}
  {
    "name": "Shop The Lock",
    "settings": [],
    "presets":[
      {
        "name":"Shop The Lock"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}